html {
  background-color: rgb(10, 245, 245);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  background-color: bisque;
  width: 700px;
  height: 550px;
  text-align: 0 center;
  margin: 25px auto;
  border-radius: 25px;
  padding: 50px 0px;
  box-shadow: 1px 1px 100px bisque;
}

p {
  text-align: center;
}
h1 {
  text-align: center;
  color: white;
  margin: 40px 0;
}
button {
  text-align: center;
}

.calc {
  text-align: center;
}
